@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(/Images/patronn.png);
  background-size:cover;
}

.container {
  display: flex;
  width: 100%;
  height: 20%;
  padding: 1%;
  box-sizing: border-box;
}

.caja {
  background: rgba(50, 50, 50, 0.228);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.7px);
  -webkit-backdrop-filter: blur(5.7px);
  padding: 20px;
  flex: 1;
  height: 100%;
  width: 100%;
  border: 1px;
  display: flex;
  flex-direction: column; /* Cambiamos a dirección de fila para colocar la foto y el contenido en línea *//* Centramos verticalmente el contenido */
  margin: 0 10px;
}

.box-content {
  margin-left: 20px; /* Agregamos un margen a la izquierda para separarlo de la foto */
}

.caja h1 {
  font-size: 60px; /* Aumentamos el tamaño del título */
  margin-bottom: 5px; /* Agregamos un margen inferior para separarlo del subtítulo */
}

.caja h2 {
  font-size: 18px; /* Aumentamos el tamaño del subtítulo */
}

img {
  width: 300px;
  height: 300px;
  border-radius: 90%;
  object-fit: cover;
}

.first {
  display: flex;
  flex-direction: row;
}
.wrappers {
  display: flex;
  flex-direction: row;
}

.button {
  height: 40px;
  width: 120px;
  color: #000000;
  padding: 5px 10px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid rgb(35, 171, 107);
  background: rgb(35, 171, 107);
}
.button:hover {
  background: #000000;
  color: #57cc99
}

h3 {
  color: hwb(0 100% 0%);
  font-family: 'Poppins', sans-serif;                  
  font-size: small;
  font-variant:normal;
  font-weight: 500;
}
h2 {
  color: hwb(0 100% 0%);
  font-size: medium;
  font-family: 'Poppins', sans-serif;                  
  font-variant:normal;
  font-weight: 400;
}
h1 {
  color: aliceblue;
}

.box {
  flex: 0 0 30%;
  background: rgba(50, 50, 50, 0.41);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.7px);
  -webkit-backdrop-filter: blur(5.7px);
  padding: 20px;
  text-align: left;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start; /* Cambia el valor de "center" a "flex-start" para alinear hacia la izquierda */
}


.column {
  background-color: rgb(237, 237, 237);
  padding: 10px;
  flex-direction: column; /* Cambiamos a dirección de fila para colocar la foto y el contenido en línea *//* Centramos verticalmente el contenido */
  margin: 0 10px;
}

.column_2 {
  background-color: rgba(211, 211, 211, 0);
  padding: 10px;
}

.container-box {
  display: flex;
  justify-content: space-between; /* Alinea los elementos al inicio y al final del contenedor */
  align-items: flex-start; /* Alinea los elementos en la parte superior del contenedor */
}

html {
  scroll-behavior: smooth;
  background-color: #000000;
}

#navbar {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
  z-index: 9999; 
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #72727235;
  color: rgb(255, 255, 255);
}

.logo {
  margin-right: 20px;
}

.logo img {
  width: 50px;
  height: 50px;
}
.card-container {
  flex: 0 0 70%; /* El contenedor de las cartas ocupa el 70% del espacio */
  margin-right: 20px; /* Agrega espacio entre las cartas y el tracker id */
}

.card {
  position: relative; /* Establece la posición relativa para el contenido de la carta */
  display: inline-block; /* Hace que las cartas se muestren en línea */
  width: 190px;
  height: 190px;
  background: rgba(50, 50, 50,1);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.396);
  margin-right: -60px; /* Espacio entre las cartas */
  cursor: pointer; /* Cambia el cursor al pasar el mouse por encima */
  transition: transform 0.3s ease-in-out; /* Transición suave para la transformación */
}

.card:hover {
  transform: translateX(-10px);
  background: rgba(50, 50, 50,0.81);
   /* Desplaza la carta hacia la izquierda al pasar el mouse por encima */
}

.card-content {
  position: absolute; /* Establece la posición absoluta para el contenido de la carta */
  top: 0;
  display: row;
  width: 100%;
  height: 100%;
  padding: 20px;
  color: #000000;
}

.card.selected .card-content {
  display: block; /* Muestra el contenido de las cartas seleccionadas */
}

.card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

    .card {
    position: relative;
    display: row;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
  }

  .card img {
    max-width: 100%;
    max-height: 30%;
    object-fit: contain;
    margin-left: -15%;
  }

  .card.selected {
    box-shadow: 0 0 10px #000000;
    transform: translateY(-10px);
    background: rgba(50, 50, 50, 0.41);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
    
  }

  .card h1{
      margin-top: 5%;
      color: aliceblue;
      font-size: xx-large;
  }

  .card h2{
      color: aliceblue;
  }
  .card h3{
      color: aliceblue;
  }
  .choices {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background-color: #000000;
  }

  .choice {
    width: 300px;
  }

  .choice img {
    width: 100%;
    height: auto;
  }

  .choice h1,
  .choice h3 {
    text-align: left;
    margin: 10px 0;
  }
  
  .selection-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 500px;
    padding: 20px;
    border-radius: 4% ;

  }
  
  .column {
    flex-basis: 33.33%;
    padding: 10px;
    border-radius: 20px ;
    background-color: #90909000;
  }

  .column {
    position: relative;
    justify-content: center;
}
.column canvas {
    position: absolute;
    top: 0;
    left: 0;
}
#song-list-container {
  text-align: left;
}

#song-list-container ul {
  font-weight: 500;
  padding-left: 0;
  list-style: none;
}

#song-list-container li {
  margin-bottom: 10px;
  color: white;
  text-align: left;
}

.tracker-id {
  width: 100%;
  margin-top: 20px;
  height: 600px;
  margin-right: 10px;
}

.tracker-id h1 {
  margin-bottom: 10px;
  text-align: left;
}


.play-btn {
  width: 100px;
  height: 100px;
  background: radial-gradient( rgb(27, 170, 51) 60%, rgb(55, 168, 30) 62%);
  border-radius: 50%;
  position: relative;
  display: block;
  margin: 100px auto;
  box-shadow: 0px 0px 25px 3px rgba(255, 255, 255, 0.8);
}

/* triangle */
.play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-40%) translateY(-50%);
  transform: translateX(-40%) translateY(-50%);
  transform-origin: center center;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #000000;
  z-index: 100;
  -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* pulse wave */
.play-btn:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate1 2s;
  animation: pulsate1 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.75);
  top: -30%;
  left: -30%;
  background: rgba(132, 111, 109, 0);
}

@-webkit-keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;

  }
}

@keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;

  }
}


.container-songs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#song-graph {
  width: 300px;
  height: 100px;
  border: 80px solid rgba(255, 255, 255, 0);
  margin-top: 20px;
}
