.contenedor-musica {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
  background-color: black;
}

#visualizer {
  width: 100%;
  height: 200px;
}

#audio {
  margin-top: 20px;
  width: 100%;
}
